<li class="content">
    <div class="content-head">
        <span class="content-head-left">
            <div class="content-head-title">
                <div class="status"></div>
                {{content_title}}
            </div>
            <small>#{{id}}</small>
            <small>modified by {{time}}</small>
        </span>
        <div class="button-group">
            <input type="submit" value="저장">
            <input type="submit" value="삭제">
            <input type="submit" value="종결">
        </div>
    </div>
    <p class="content-body" contenteditable="true"> 여기가 content-body value 값들</p>
</li>