<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Notepad_1.0</title>


</head>

<body style="margin: 0;">
    <!--top bar-->
    <ul id="top_bar">
        <div class="left-menu">
            <li>
                <form method="POST" action="/search/">  
                    <input type="text" name="target">
                    <input type="submit" value="검색">
                </form>
            </li>
            {% for chapter in contents %}
            <li>
                <a href="#{{chapter['name']}}">{{chapter['name']}}</a>
            </li>
            {% endfor %}
        </div>
    </ul>

    <!--content -->
    <ul class="entire-list">
        <!--notepad1 -->
        <!--최종형태-->
        {%for chapter in contents%}
        <div class="chapters">
            <li class="title" id="{{chapter['name']}}">
                <h1>{{chapter['name']}}</h1>
            </li>
            {%for content in chapter['content_file']%}
            <li class="content">
                <div class="content-head">
                    <span class="content-head-left">
                        <div class="content-head-title">
                            <div class="status" style="background-color: {{ content.mode }};"></div>
                            {{ content.content_title }}
                        </div>
                        <small>#<span class="id">{{ content.id }}</span></small>
                        <small>modified by <span class="modified_time">{{ content.modified_time }}</span></small>
                        <small class="closing_time" style="display: none;">{{ content.closing_time }}</small>
                    </span>
                    <div class="button-group">
                        <form method="POST" action="/save/" onsubmit="save_content(this)">
                            <input type="hidden" name="id" value="{{ content.id }}">
                            <input type="hidden" name="content" value="{{ content.content }}">
                            <input type="submit" value="저장">
                        </form>
                        <form method="POST" action="/close/" onsubmit="close_content(this)">
                            <input type="hidden" name="id" value="{{ content.id }}">
                            <input type="submit" value="종결">
                        </form>
                        <form method="POST" action="/delete/" onsubmit="delete_content(this)">
                            <input type="hidden" name="id" value="{{ content.id }}">
                            <input type="submit" value="삭제">
                        </form>
                    </div>
                </div>
                <div class="content-body" contenteditable="true" spellcheck="false">{{ content.content | safe }}</div>
            </li>

            {% endfor %}
            <!--content 추가 버튼-->
            <li class="plus">
                <input type="button" value="+">
            </li>
        </div>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    
</body>

</html>
